<div id="container" style="width: 600px;">
    <table class="normal">
        <thead>
            <tr>
                <th style="width: 20px;">شماره ردیف</th>
                <th>نام</th>
                <th>استان</th>
                <th>شهر</th>
                <th>بیشتر</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userac; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.stateUser}}</td> 
                <td>{{item.cityUser}}</td>
                <td> <button type="button" (click)="test(item.id)" class="btn btn-primary"
                        style="margin-left: 5px">فعال کردن</button> </td>
            </tr>
        </tbody>
    </table>
</div>