<div style=" border-radius: 10px; margin-top: 25px; margin-left: 600px; margin-right: 600px; background-color:#0067b8">
    <h4 style=" margin-left: 120px;width: auto;">سازهای همراهی کننده ی حرکات در این مکان عبارتند از </h4>
    <div class="form-group " *ngFor="let item of ins; let i = index">
        <div class="form-check">

            <label style="margin-right: 7px;" class="form-check-label" for="defaultCheck1">
                {{item.name}}
            </label>
            <input class="form-check-input" name="saz" type="checkbox" id="defaultCheck1" (click)="selectMember(item)"
                [(ngModel)]="item.checked">
        </div>
    </div>

    <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
        <div style="padding: 15px">




            <div class="form-group">
                <label>تاریخچه مختصری کارگاه ارایه نمایید</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="History">
            </div>



            <label style="color: #fff;"> زمانهای برگزاری؟ </label>
            <div class="form-group ">
                <label class="form-check-inline">
                    الف: زمان آزاد بنا به درخواست گردشگربا هماهنگی قبلی توسط تلفن /پیام رسان
                    <input class="form-check-input" type="radio" name="timeDance" [value]="true">
                </label>
            </div>
            <div class="form-group ">
                <label class="form-check-inline">
                    ب: زمان های تعیین شده قابل اطلاع به وسیله تماس تلفنی /پیام رسان
                    <input class="form-check-input" type="radio" name="timeDance" [value]="false">
                </label>
            </div>

            <div class="form-group">
                <label> استان</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="State">
            </div>

            <div class="form-group">
                <label> شهرستان</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="City">
            </div>

            <div class="form-group">
                <label> روستا</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="Village">
            </div>

            <div class="form-group">
                <label> آدرس کامل</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="FullAddress">
            </div>

            <div class="form-group">
                <label> عرض جغرافیای</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="LocationE">
            </div>

            <div class="form-group">
                <label> طول جغرافیای</label>
                <input style="width: 40%; margin-left: 60%; border-radius: 0px;" class="form-control"
                    formControlName="LocationN">
            </div>


            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button
                        style="width: 100px; color: #0067b8; background-color: #fff; border-color: transparent; border-radius: 0px;margin-left: 8px;"
                        type="submit" class="btn btn-lg btn-block">ثبت
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<form class="was-validated" id="formmakan"> 
    <div class="mb-3">
        <label for="validationTextarea">Textarea</label>
        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
            required></textarea>
        <div class="invalid-feedback">
            Please enter a message in the textarea.
        </div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
        <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
        <div class="invalid-feedback">Example invalid feedback text</div>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
        <label class="custom-control-label" for="customControlValidation2">Toggle this custom radio</label>
    </div>
    <div class="custom-control custom-radio mb-3">
        <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
        <label class="custom-control-label" for="customControlValidation3">Or toggle this other custom radio</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
    </div>

    <div class="form-group">
        <select class="custom-select" required>
            <option value="">Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
    </div>

    <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
</form>