<div id="container" style="width: 400px;">
    <h2>کاربران استانی</h2>
    <table class="normal">
        <thead>
            <tr>
                <th style="width: 20px;">شماره ردیف</th>
                <th>نام</th>
                <th>استان</th>
                <th>شهر</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userroletherry; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.stateUser}}</td>
                <td> {{item.cityUser}} </td>
            </tr>
        </tbody>
    </table>
</div>