
<div style=" margin: 0 10%; margin-top: 40px; border-radius: 10px;">
    <table class="table table-bordered table-striped table-dark" style="border-radius: 10px">
        <thead>
            <tr>
                <th scope="col">فایل</th>
                <th scope="col">ساز </th>
                <th scope="col">شهر </th>
                <th scope="col">استان </th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">نام</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="http://localhost:54277/{{reportDetails.fileUrl}}" width="200" height="200">
                </td>
                <th scope="col">{{reportDetails.saz}} </th>
                <th scope="col">{{reportDetails.city}} </th>
                <th scope="col">{{reportDetails.state}} </th>
                <th scope="col">{{reportDetails.family}}</th>
                <th scope="col">{{reportDetails.name}}</th>
            </tr>
        </tbody>
    </table>
</div>

