<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>نام کاربری</label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">لطفا نام کاربری را وارد نمایید</label>
  </div>
  <div class="form-group">
    <label>ایمیل</label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">لطفا ایمیل را وارد نمایید</label>
  </div>
  <div class="form-group">
    <label>نام</label>
    <input class="form-control" formControlName="FullName">
  </div>


  <div class="form-group">
    <label>سن</label>
    <input class="form-control" formControlName="Age">
  </div>

  <div class="form-group">
    <label>کد ملی</label>
    <input class="form-control" formControlName="PersonalCode">
  </div>

  <div class="form-group">
    <label>شماره تماس</label>
    <input class="form-control" formControlName="PhoneNumber">
  </div>
  

  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>رمز عبور</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">رمز عبور نمیتواند خالی باشد</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">حداقل باید 4 کارامتر باشد</label>
    </div>
    <div class="form-group required">
      <label>تایید رمز عبور</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">رمز عبور نمیتواند خالی باشد</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">رمز عبور مطابقط ندارد</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">ثبت نام</button>
    </div>
  </div>
</form>