<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group ">
    <label>  نام کاربری <span style="color: red">*</span> </label>
    <input class="form-control" formControlName="UserName">
    <label class="text-danger"
      *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">لطفا نام
      کاربری را وارد نمایید</label>
  </div>

  <div class="form-group">
    <label>ایمیل <span style="color: red">*</span> </label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger"
      *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">لطفا ایمیل را وارد
      نمایید</label>

  </div>
  <div class="form-group">
    <label>نام <span style="color: red">*</span> </label>
    <input class="form-control" formControlName="FullName">
  </div>
 
  <label style="color: azure">شهر <span style="margin-right: 126px; color: red"> *</span> </label>
  <label style="color: azure;">استان <span style="  color: red">*</span> </label>
 
  <br/>

  <select id="ddl" style="font-size:12px; width:170px; margin-right: 1%; margin-bottom: 10px; border-radius: 0px;" (change)="test1($event.target.value)" dir="rtl"
    class="custom-select custom-select-sm">
    <option> لطفا شهر را انتخاب نمایید</option>
    <option *ngFor="let item of city; let i = index" style="color: black;"  value="{{item.id}}">{{item.name}}
    </option>
  </select>

  <select id="ddl" style="font-size:12px; width:170px; margin-right: 1%; margin-bottom: 10px; border-radius: 0px;" (change)="test($event.target.value)" dir="rtl"
    class="custom-select custom-select-sm">
    <option> لطفا استان را انتخاب نمایید  </option>
    <option *ngFor="let item of state; let i = index" style="  color: black;" value="{{item.id}}">{{item.name}}
    </option>
  </select>

<br/>


  <div class="form-group">
    <label>سن</label>
    <input class="form-control" formControlName="Age">
  </div>

  <div class="form-group">
    <label>کد ملی <span style="color: red">*</span> </label>
    <input class="form-control" formControlName="PersonalCode">
  </div>

  <div class="form-group">
    <label>شماره تماس <span style="color: red">*</span> </label>
    <input class="form-control" formControlName="PhoneNumber">
  </div>


  <div formGroupName="Passwords">
    <div class="form-group ">
      <label>رمز عبور <span style="color: red">*</span></label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">رمز
        عبور نمیتواند خالی باشد</label>
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">حداقل
        باید 4 کارامتر باشد</label>
    </div>
    <div class="form-group ">
      <label>تایید رمز عبور <span style="color: red">*</span></label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">رمز
        عبور نمیتواند خالی باشد </label>
      <label class="text-danger"
        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">رمز
        عبور مطابقط ندارد</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn " [disabled]="!service.formModel.valid">ثبت نام</button>
    </div>
  </div>
</form>