<h2 style="margin-right: 50px; color: white;">مدیریت گزارش</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">نام گزارش</th>
            <th scope="col">تعداد</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>تعداد کل کاربران</td>
            <td>{{gozaresh.userKol}}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>کاربران غیر فعال</td>
            <td>{{gozaresh.deActive}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>کاربران تایید نشده</td>
            <td> {{gozaresh.role4}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>ساز</td>
            <td> {{gozaresh.saz}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>نوع ساز</td>
            <td> {{gozaresh.typeSaz}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>نوع آواز</td>
            <td> {{gozaresh.typeAvaz}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>اماکن برگزاری حرکات موزون</td>
            <td> {{gozaresh.danceTable}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> اماکن برگزاری حرکات موزون تایید شده</td>
            <td> {{gozaresh.danceTableConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> اماکن برگزاری حرکات موزون تایید نشده</td>
            <td> {{gozaresh.danceTableUnConfigure}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> کارگاه ساخت ابزار موسقی</td>
            <td> {{gozaresh.kargahSakht}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>کارگاه ساخت ابزار موسقی تایید شده</td>
            <td> {{gozaresh.kargahSakhtConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>کارگاه ساخت ابزار موسقی تایید نشده</td>
            <td> {{gozaresh.kargahSakhtUnConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>اماکن اجرای موسقی</td>
            <td> {{gozaresh.musicLoc}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>اماکن اجرای موسقی تایید شده</td>
            <td> {{gozaresh.musicLocConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>اماکن اجرای موسقی تایید نشده</td>
            <td> {{gozaresh.musicLocUnConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>مکتب خانه آموزش موسقی</td>
            <td> {{gozaresh.maktab}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>مکتب خانه آموزش موسقی تایید شده</td>
            <td> {{gozaresh.maktabConfigor}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>مکتب خانه آموزش موسقی تایید نشده</td>
            <td> {{gozaresh.maktabUnConfigor}}</td>
        </tr>
    </tbody>
</table>