/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
    font-family: BYekan;
    src: url("./app/font/BYekan.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family: Iran;
   src: url("./app/font/iranian_sans.ttf");
    font-weight: normal;
    font-style: normal;
}
 * {
     font-family: Iran;
 }

body{
    background-color: rgb(240, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
	  padding:0;
   	height:100%;
}

input.form-control,input.form-control:focus{
    direction: rtl;
    background-color: #fff;
    color: rgb(3, 0, 0);
    border: 1px solid #636b7b;

}

input.form-control:focus{
    box-shadow: none;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #04c582;
    color: #fff;
}

div.form-group label:not(.text-danger){
    color: #fff;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }

 #container {
  width:50%;
  margin:auto;
  direction: rtl;
}

table{
  border-collapse:collapse;
  width:100%;
}

table.normal{
    border:2px solid #0067b8;
}

thead{
  background:#0067b8;
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
 display:none;
}

.end{
  margin-top:800px;
}

table, th, td {
    border:2px solid #0067b8;
  
}

 

/*--------------------------------------------------------*/
html {
  font-family: "Segoe UI", arial;
  font-size: 16px;
  background: #e2e1e0;
}
body {
  margin: 0;
  height: 2000px;
}
* {
  font-family: "Segoe UI", arial;
  box-sizing: border-box;
}
.feather {
  width: 20px;
  height: 20px;
  stroke: #333;
}
.feather.feather-menu {
  width: 24px;
  height: 24px;
}
.feather.feather-chevron-down {
  vertical-align: middle;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-toggle-menu, .menu-right > li > a, .menu-dropdown > li > a {
  border: 1px dashed transparent;
}
.btn-toggle-menu:active, .menu-right > li > a:active, .menu-dropdown > li > a:active, .btn-toggle-menu:focus, .menu-right > li > a:focus, .menu-dropdown > li > a:focus {
  border: 1px dashed #333;
  outline: 0;
}
.btn-toggle-menu {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#navbar {
  background-color: #fff;
  padding: 12px 0 9px;
  direction: rtl;
}
.nav-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-container {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  display: none;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.mobile-nav-head {
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 12px 15px;
  background-color: white;
}
.menu-dropdown {
  margin: 0;
  padding: 0;
}
.menu-dropdown li {
  list-style-type: none;
  position: relative;
}
.menu-dropdown li:hover > a + .sub-menu {
  visibility: visible;
  opacity: 1;
}
.menu-dropdown li a {
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}
.menu-dropdown li a + ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.menu-dropdown li a + ul.sub-menu li a {
  padding-left: 25px;
}
.menu-right {
  margin: 0;
  padding: 0;
  display: flex;
  flex: row;
}
.menu-right li {
  list-style-type: none;
}
.menu-right li a {
  color: #333;
  display: block;
  padding: 2px 6px;
  text-decoration: none;
  white-space: nowrap;
}
.btn-signin {
  display: none;
}
@media (min-width: 992px) {
  #navbar {
    padding: 7px 0 5px;
  }
  .btn-toggle-menu, .mobile-nav-head {
    display: none;
  }
  .dropdown-container {
    position: inherit;
    display: block;
  }
  .menu-dropdown {
    display: flex;
    margin: 0 10px;
  }
  .menu-dropdown li a {
    padding: 8px 15px;
    border-bottom: 1px solid transparent;
  }
  .btn-signin {
    display: block;
  }
  .menu-right > li > a {
    padding: 6px 15px;
  }
  ul.sub-menu {
    position: absolute;
    top: calc(100% + 5px);
    border: 1px solid #eee;
    transition: 0.2s;
  }
  ul.sub-menu li {
    padding: 0;
  }
  ul.sub-menu li a {
    padding: 12px 30px !important;
    min-width: 200px;
    border-bottom: 1px solid #eee;
  }
  ul.sub-menu li a:hover {
    border-bottom: 1px solid transparent;
    background-color: #f9f9f9;
  }
} 

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}

#instr {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#instr h2 {
  margin-right: 20px;
  direction: rtl;
  margin-top: 5px;
}